<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication.AppEnviroment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WindowsFormsApplication.enviroment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <WindowsFormsApplication.AppEnviroment>
            <setting name="StartController" serializeAs="String">
                <value>Demo</value>
            </setting>
        </WindowsFormsApplication.AppEnviroment>
        <WindowsFormsApplication.enviroment>
            <setting name="StartController" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication.enviroment>
    </applicationSettings>
</configuration>
